<!DOCTYPE html>
<html>

<head>
    <title>Hello Flask</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('course') }}">Course</a></li>
            <li><a href="{{ url_for('all_recipes') }}">Recipes</a></li>
        </ul>
    </nav>

    {% block content %} {% endblock %}
</body>

</html>